@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato&family=Merienda:wght@700&family=Oi&family=Roboto&family=Slabo+27px&display=swap');

* {
    margin: none;
    padding: none;
    box-sizing: border-box;

}


body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* font-family: 'Concert One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Oi', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Slabo 27px', serif; */


}

.Mypage1,
.Mypage2,
.Mypage3,
.Mypage4 {
    width: 95vw;

    font-family: 'Slabo 27px', serif;
}


.topnav {
    overflow: hidden;


}


.topnav a {

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(183, 43, 226);
}


.topnav .icon {
    display: none;
    float: right;



}






















.sub-page1 {
    display: flex;
    justify-content: center;
    width: inherit;
    height: inherit;
    padding: 40px 0px;
}

.intro {
    width: 500px;
    font-size: 20px;
    text-align: center;


}

.intro-info {
    color: #ffffff;
    width: inherit;
    text-align: center;


}

.intro img {
    border-radius: 50%;
}


.button {

    background-color: black;
    color: white;
    height: 50px;
    width: 155px;
    border-radius: 10px;
    box-shadow: 1px 0px 1px 0px white;
}

.button:hover {

    background-color: rgb(13, 20, 20);
    color: white;
    height: 52px;
    width: 157px;
    border-radius: 10px;
    box-shadow: 0px 1px 0px 0px white;

}

.Mypage2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px;
}

.about {
    background-color: rgb(29, 62, 62);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    padding: 10px;
    color: #ffffff;
    margin: auto;


}

.Skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.Skills div {
    color: #ffffff;
    padding: 10px 20px;
    margin: 7px 10px;
    border: 1px solid red;
    border-radius: 5px;

}

.about-info {
    width: 60%;
    padding: 20px;

}



.profile-about {
    width: 300px;
    border-radius: 10px;

}

.Mypage3 {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.Education-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

.Education {
    background-color: rgb(12, 11, 11);
    width: 400px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;

}

.Training {
    background-color: rgb(5, 4, 4);
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    padding-bottom: 105px;
    width: 400px;
}

.outer-container-training {
    widows: 100%;
    padding: 5px;
    border: 1px solid white;
    margin: 20px;
}

.Mypage4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
}

.contact {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px;
    border-radius: 10px;
    border: 1px solid white;
}

.address {
    width: 400px;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

.address i {
    margin: 20px;
}

.form {
    width: 400px;
    padding: 10px;
    margin: 20px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.form input {
    margin-bottom: 20px;
}

.socia-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;


}

.form button {
    margin: 5px;
    padding: 10px;
    width: 80px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 1px 0px 1px 0px white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

form button:hover {

    background-color: rgb(13, 20, 20);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 0px 0px white;

}


@media screen and (max-width: 900px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .Education-details {
        flex-direction: column;
    }

    .contact {
        width: 95vw;
    }

    .address,
    .form {
        width: 380px;
        font-size: 10px;
    }

    .Skills {
align-items: center;
justify-content: center;
    }


}

@media screen and (max-width: 768px) {
    .sub-page1 {

        text-align: center;
    }


    .intro {
        width: inherit;
        margin: auto;
        font-size: 18px;
        width: 95%;

    }

    .Education-details {
        flex-direction: column;
    }


    .Skills {
        text-align: center;

    }

    .about-info {
        align-content: center;
        flex-direction: column;
        text-align: center;
        width: 90vw;

    }

    .profile-about {
        width: 160px;
    }

    .Mypage2,
    .Mypage3,
    .Mypage4 {
        height: fit-content;
        margin-top: 40px;

    }

    .about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0px;

    }

    .Mysubpage4 {
        align-content: center;
        flex-direction: column;
        margin: 10px;

    }

    .contact {
        flex-direction: column;
        justify-content: center;
        width: 430px;
        margin: 15px;

    }

    .address,
    .form {
        margin-bottom: 90px;
    }
}